* {
  box-sizing: border-box;
}

.frame12 {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-top: 7px;
  width: 321px;
  height: 87px;

  .ellipse6 {
    display: flex;
    align-items: center;
    margin-top: 34px;
    border-radius: 50%;
    background: #ffffff;
    padding-right: 5px;
    padding-left: 4px;

    .a1 {
      line-height: 16px;
      letter-spacing: 0;
      color: #000000;
      font-family: "Alibaba PuHuiTi", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 12px;
    }
  }

  .rectangle7 {
    display: flex;
    align-items: center;
    border-radius: 11px;
    box-shadow: 0px 4px 4px 0px #00000040;
    background: #ffffff;
    padding-left: 7px;

    .rectangle19 {
      border-radius: 8px;
      background: #d9d9d9;
      width: 103px;
      height: 67px;
    }

    .autoWrapper {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      align-self: stretch;

      .text {
        width: 72px;
        height: 23px;
        text-align: center;
        letter-spacing: 0;
        color: #545454;
        font-family: "Alibaba PuHuiTi", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 16px;
        font-weight: 500;
      }

      .xXxxxxxxxxxxxxxxxxxx {
        margin: 6px 0px 0px 12px;
        width: 137px;
        height: 38px;
        letter-spacing: 0;
        color: #b1b1b1;
        font-family: "Alibaba PuHuiTi", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 14px;
      }
    }

    .frame {
      display: flex;
      align-items: flex-start;
      margin-left: 5px;
      border-radius: 0px 11px 11px 0px;
      box-shadow: 0px 4px 4px 0px #00000040;
      background: #e68e8e;
      padding: 31px 8px 28px 7px;
      overflow: hidden;

      .delete1 {
        width: 21px;
        height: 21px;
        overflow: hidden;
      }
    }
  }
}
