* {
  box-sizing: border-box;
}

.frame51 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  padding: 8px 7px 9px 10px;
  width: 66px;
  height: 64px;
  overflow: hidden;

  .rectangle6 {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.7;
    border-radius: 11px;
    background: #ffffff;
    width: 66px;
    height: 64px;
  }

  .autoWrapper {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    padding-right: 0;
    padding-left: 0;

    .text {
      line-height: 19px;
      letter-spacing: 0;
      color: #000000;
      font-family: "Alibaba PuHuiTi", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 14px;
      font-weight: 500;
    }

    .text2 {
      margin: 2px 0px 0px;
      line-height: 14px;
      letter-spacing: 0;
      color: #929292;
      font-family: "Alibaba PuHuiTi", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 10px;
    }

    .rectangle18 {
      display: flex;
      align-items: center;
      align-self: stretch;
      margin-top: 2px;
      border-radius: 5px;
      background: #b6b6b6;
      padding-right: 7px;

      .rectangle16 {
        border-radius: 5px;
        background: #2eca6f;
        width: 42px;
        height: 10px;
      }
    }
  }
}
